<!DOCTYPE html>
<html>
  <head>
    <title>ExchangeResource</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application_mypage', media: 'all' %>
    <%= javascript_include_tag 'application_mypage' %>
  </head>

  <body ng-app="myPageApp">
    <%= javascript_include_tag 'angular_mypage' %>
    <%= yield %>
  </body>
</html>
